<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.registry.contactregistryapp.servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactApi</servlet-name>
        <servlet-class>com.registry.contactregistryapp.api.ContactApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.registry.contactregistryapp.servlet.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactReportServlet</servlet-name>
        <servlet-class>com.registry.contactregistryapp.servlet.ContactReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactApi</servlet-name>
        <url-pattern>/api/contacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactApi</servlet-name>
        <url-pattern>/api/contacts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactReportServlet</servlet-name>
        <url-pattern>/ContactReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
